<form role="form">
  <div class="kuiLocalDropdownTitle">Options</div>
  <div class="input-group">
    <label>
      <input type="checkbox" ng-model="opts.ui.darkTheme" ng-checked="opts.ui.darkTheme">
      Use dark theme
    </label>
  </div>
  <div class="input-group">
    <label>Number of columns:
      <input type="number" name="input" ng-model="opts.ui.colNumber" min="1" max="60">
    </label>
  </div>
  <div class="input-group">
    <label>Row height:
      <input type="number" name="input" ng-model="opts.ui.rowHeight" min="20" max="150">
    </label>
  </div>
  <div class="input-group">
    <label>Spacer:
      <input type="number" name="input" ng-model="opts.ui.spacer" min="0">
    </label>
  </div>
</form>
